.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: 8px;
  height: 40px;
  font-size: 22px;
  line-height: 30.8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: var(--background-color);
  border: var(--border);
  color: var(--color);
}

.button:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-color);
  opacity: var(--hover-opacity);
}

/* States */
.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}
