.radioGroup {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.radioGroup legend {
  padding: 0;
  margin: 0;
}

.radioContainer {
  display: flex;
  align-items: center;
  padding: 6px 0;
}

.radioIndicator {
  vertical-align: middle;
  margin: 0;
}

.radioLabelText {
  vertical-align: middle;
  margin-left: 4px;
}
