name: Chromatic

on:
  pull_request:
    types: [opened, ready_for_review, synchronize]
    branches:
      - main
    paths:
      - '**/*.stories.@(js|jsx|ts|tsx)'
  push:
    branches:
      - main
    paths:
      - '**/*.stories.@(js|jsx|ts|tsx)'
  
jobs:
  chromatic:
    runs-on: ubuntu-latest

    steps:
      - uses: ./.github/actions/setup-action
      - name: Run Chromatic
        id: chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
      - name: comment PR
        uses: thollander/actions-comment-pull-request@v1
        if: ${{ github.event_name == 'pull_request' }}
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_BOT_TOKEN }}
        with:
          message: " The Storybook has been updated! Click [here](${{ steps.chromatic.outputs.storybookUrl }}) to check it out."
